{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}


<section>
    <div>
        <h1>Cinema</h1>
        <h1>Ironhack</h1>
        <a href="/movies"><button class="btn btn-success">Check the movies!</button></a>
    </div>
</section>
